In [ ]:
import time
import pandas as pd
import numpy as np

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    month_dict = {'january':1,'february':2,'march':3,'april':4,'may':5,'june':6}
    month = None
    day = None 
    print('Hello! Let\'s explore some US bikeshare data!')
    
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    print('What city will you like to see')
    while True:
        city = input('Type city here').lower()
        if city in ['chicago','new york city','washington']:
            break
        else:
            print("Please enter correct city")
    
    # get user input for month (month, day, both or none)
    while True:
        filter_decision = input('Choose your filter decision: month, day, both or none \n').lower()
        if filter_decision in ('month','day','both','none'):
            break
        else:
            print('Please Choose your filter decision: month, day, both or none \n')
    # get user input for month (month, day or none) 
    
    if  filter_decision == 'month':
        while True:
            month = input('Please choose month or select all').lower()
            if month in ('january','february','march','april','may','june','all'):
                break
            else:
                print('Please enter correct month')
    elif  filter_decision == 'day':
        while True:
            day = int(input('Please choose day as na integer where sunday =1').lower())
            if day > 0 and  day <= 7 :
                break
            else:
                print('Please enter correct day')     
    elif  filter_decision == 'both':
        while True:
            month = input('Please choose month first').lower()
            day = int(input('Please choose day next as na integer where sunday =1').lower())
            if month in ('january','february','march','april','may','june',
                     'july','august','october','november','december','all') and  day > 0 and  day <= 7 :
                break
            else:
                print('Please enter correct month and day')
            
    
    print('-'*40)
   
    month = month_dict.get(month)
    return city, month, day

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])
    
    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday
    df['hour'] = df['Start Time'].dt.hour
    
    filtered_df = df
    
    if month:
        filtered_df = filtered_df[filtered_df.month == month]
    if day:
        filtered_df = filtered_df[filtered_df.day_of_week == day]
    return filtered_df

def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    print('The most common month is \n {}'. format((df['month'].mode()[0])))
    

    # display the most common day of week
    print('The most common day is \n {}'. format((df['day_of_week'].mode()[0])))
  

    # display the most common start hour
    print('The most common hour is\n {}'. format((df['hour'].mode()[0])))
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    print('The most common start station is\n {}'. format((df['Start Station'].mode()[0])))
    

    # display most commonly used end station
    print('The most common end station is \n {}'. format((df['End Station'].mode()[0])))
    

    # display most frequent combination of start station and end station trip
    df['combination'] = df['Start Station'] + df['End Station']
    print('The most combination of start station and end station trip is\n {}'.format((df['combination'].mode()[0])))
    
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time
    print('The total travel time is\n {}'.format((df['Trip Duration'].sum()) ))
    

    # display mean travel time
    print('The mean travel time is\n {}'.format((df['Trip Duration'].mean()) ))
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types
    print('The count of user types\n {}'.format(df['User Type'].value_counts()))

     # Display counts of gender
    print('The count of gender\n {}'.format(df['User Type'].value_counts()))

    # Display earliest, most recent, and most common year of birth
    print('The earliest year of birth\n {}'.format(df['Birth Year'].min()))
          
    print('The most recent year of birth\n {}'.format(df['Birth Year'].max()))
    print('The most common year of birth\n {}'.format(df['Birth Year'].mode ()[0]))
          
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def main():
     while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)
        
        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
 	main()

Hello! Let's explore some US bikeshare data!
What city will you like to see
Type city herechicago
Choose your filter decision: month, day, both or none
month
Please choose month or select alljanuary
----------------------------------------

Calculating The Most Frequent Times of Travel...

The most common month is
 1
The most common day is
 1
The most common hour is
 17

This took 0.03101038932800293 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

The most common start station is
 Clinton St & Washington Blvd
The most common end station is
 Clinton St & Washington Blvd
The most combination of start station and end station trip is
 LaSalle St & Jackson BlvdCanal St & Madison St

This took 0.029026269912719727 seconds.
----------------------------------------

Calculating Trip Duration...

The total travel time is
 14826150
The mean travel time is
 679.8179650602962

This took 0.0009653568267822266 seconds.
----------------------------------------

Calculating User Stats...

The count of user types
 Subscriber    20794
Customer       1015
Name: User Type, dtype: int64
The count of gender
 Subscriber    20794
Customer       1015
Name: User Type, dtype: int64
The earliest year of birth
 1899.0
The most recent year of birth
 2000.0
The most common year of birth
 1989.0

This took 0.008999109268188477 seconds.
----------------------------------------

In [42]:
city,month, day =get_filters()

Hello! Let's explore some US bikeshare data!
What city will you like to see
Type city herechicago
Choose your filter decision: month, day, both or none
month
Please choose month or select alljanuary
----------------------------------------

In [43]:
city

'chicago'

In [44]:
month

1

In [46]:
day

In [56]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])
    
    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday
    df['hour'] = df['Start Time'].dt.hour
    
    filtered_df = df
    
    if month:
        filtered_df = filtered_df[filtered_df.month == month]
    if day:
        filtered_df = filtered_df[filtered_df.day_of_week == day]
    return filtered_df

In [52]:
load_data('chicago', 5, 1)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
13,1023296,2017-05-30 15:46:18,2017-05-30 15:52:12,354,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985.0,5,1
17,931608,2017-05-23 08:08:25,2017-05-23 08:11:09,164,Damen Ave & Cortland St,Marshfield Ave & Cortland St,Subscriber,Male,1990.0,5,1
20,849468,2017-05-16 06:36:17,2017-05-16 06:59:34,1397,Michigan Ave & Oak St,Halsted St & Wrightwood Ave,Subscriber,Female,1992.0,5,1
111,850260,2017-05-16 07:32:12,2017-05-16 07:56:24,1452,Broadway & Barry Ave,LaSalle St & Illinois St,Subscriber,Male,1993.0,5,1
138,769275,2017-05-09 12:58:51,2017-05-09 13:10:15,684,Franklin St & Chicago Ave,St. Clair St & Erie St,Subscriber,Male,1980.0,5,1
...,...,...,...,...,...,...,...,...,...,...,...
299950,853732,2017-05-16 11:37:05,2017-05-16 11:54:21,1036,Millennium Park,Columbus Dr & Randolph St,Customer,NaN,NaN,5,1
299971,852513,2017-05-16 09:18:52,2017-05-16 09:38:02,1150,Dusable Harbor,Theater on the Lake,Subscriber,Male,1976.0,5,1
299985,712351,2017-05-02 17:45:19,2017-05-02 17:52:00,401,Canal St & Monroe St (*),Milwaukee Ave & Grand Ave,Subscriber,Male,1991.0,5,1
299994,935129,2017-05-23 17:08:04,2017-05-23 17:11:37,213,Indiana Ave & 31st St,MLK Jr Dr & 29th St,Subscriber,Male,1988.0,5,1
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,5,1

In [57]:
filtered_df = load_data(city, month, day)

In [58]:
filtered_df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,1,2,8
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,1,1,14
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN,1,5,14
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,1,6,15
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,1,6,16

In [20]:
df = pd.read_csv(CITY_DATA['chicago'])

In [24]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

# extract month and day of week from Start Time to create new columns
df['month'] = df['Start Time'].dt.month
df['day_of_week'] = df['Start Time'].dt.weekday

In [59]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    print('The most common month is \n {}'. format((df['month'].mode()[0])))
    

    # display the most common day of week
    print('The most common day is \n {}'. format((df['day_of_week'].mode()[0])))
  

    # display the most common start hour
    print('The most common hour is\n {}'. format((df['hour'].mode()[0])))
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [61]:
time_stats (filtered_df)

Calculating The Most Frequent Times of Travel...

The most common month is
 1
The most common day is
 1
The most common hour is
 17

This took 0.006003618240356445 seconds.
----------------------------------------

In [67]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    print('The most common start station is\n {}'. format((df['Start Station'].mode()[0])))
    

    # display most commonly used end station
    print('The most common end station is \n {}'. format((df['End Station'].mode()[0])))
    

    # display most frequent combination of start station and end station trip
    df['combination'] = df['Start Station'] + df['End Station']
    print('The most combination of start station and end station trip is\n {}'.format((df['combination'].mode()[0])))
    
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [69]:
station_stats(filtered_df)

Calculating The Most Popular Stations and Trip...

The most common start station is
 Clinton St & Washington Blvd
The most common end station is
 Clinton St & Washington Blvd
The most combination of start station and end station trip is
 LaSalle St & Jackson BlvdCanal St & Madison St

This took 0.022992610931396484 seconds.
----------------------------------------

In [71]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time
    print('The total travel time is\n {}'.format((df['Trip Duration'].sum()) ))
    

    # display mean travel time
    print('The mean travel time is\n {}'.format((df['Trip Duration'].mean()) ))
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [73]:
trip_duration_stats(filtered_df)

Calculating Trip Duration...

The total travel time is
 14826150
The mean travel time is
 679.8179650602962

This took 0.001990079879760742 seconds.
----------------------------------------

In [82]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types
    print('The count of user types\n {}'.format(df['User Type'].value_counts()))

     # Display counts of gender
    print('The count of gender\n {}'.format(df['User Type'].value_counts()))

    # Display earliest, most recent, and most common year of birth
    print('The earliest year of birth\n {}'.format(df['Birth Year'].min()))
          
    print('The most recent year of birth\n {}'.format(df['Birth Year'].max()))
    print('The most common year of birth\n {}'.format(df['Birth Year'].mode ()[0]))
          
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

In [83]:
user_stats(filtered_df)

Calculating User Stats...

The count of user types
 Subscriber    20794
Customer       1015
Name: User Type, dtype: int64
The count of gender
 Subscriber    20794
Customer       1015
Name: User Type, dtype: int64
The earliest year of birth
 1899.0
The most recent year of birth
 2000.0
The most common year of birth
 1989.0

This took 0.010978937149047852 seconds.
----------------------------------------

In [ ]:





def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    print('The most common month is\n {}'. format((df['Start Station'].mode()[0])))
    

    # display most commonly used end station
    print('The most common month is \n {}'. format((df['End Station'].mode()[0])))
    

    # display most frequent combination of start station and end station trip
    df['combination'] = df['Start Station'] + df['End Station']
    df['popular_combination'] = df['combination'].mode()[0]
    print('The most combination of start station and end station trip is\n'.format((df['popular_combination'])))
    
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)
    
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time
    print('The total travel time is\n {}'.format((df['Trip Duration'].sum()) ))
    

    # display mean travel time
    print('The mean travel time is\n {}'.format((df['Trip Duration'].mean()) ))
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)
 
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types
    print('The count of user types\n'.format(df['User Types'].value_counts()))

     # Display counts of gender
    print('The count of gender\n'.format(df['User Types'].value_counts()))

    # Display earliest, most recent, and most common year of birth
     print('The earliest year of birth\n {}'.format(df['Birth Year'].min())
          
    print('The most recent year of birth\n {}'.format(df['Birth Year'].max ()))
    print('The most common year of birth\n {}'.format(df['Birth Year'].mode ()[0]))
          
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

def main():
     while True:
         city, month, day = get_filters()
         df = load_data(city, month, day)
        
         time_stats(df)
         station_stats(df)
         trip_duration_stats(df)
         user_stats(df)

         restart = input('\nWould you like to restart? Enter yes or no.\n')
         if restart.lower() != 'yes':
             break


 if __name__ == "__main__":
 	main()